{% extends "charts.html" %}
{% block chart4 %}
  <!-- chart1 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Agency Profiles</h3>
        </div>
        <div class="panel-body">
          <div class=row>
          <div class="col-md-6">
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
          </div>

          <div class="col-md-6">
              <div class="panel panel-info">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-9 text-left">
                            <div class="huge">$ {{ result.summary.award_sum }}</div>
                            <div>Total Funds Awarded</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div> <!-- Panel Transaction Sumt -->

          <div class="col-md-6">
              <div class="panel panel-warning">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-9 text-left">
                            <div class="huge">{{ result.summary.transaction_count }}</div>
                            <div><div>Total Number of Transaction</div></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div> <!-- Panel Transaction Count -->


        </div>
        <!-- /.panel-body-->
      </div>
    </div>
  </div> <!-- /.chart1-->
<script type=text/javascript>
  var chart1; // globally available
  var options = {
    chart: {
       renderTo: 'container'
     },
    credits: {
      enabled: false
    },
    rangeSelector: {
        selected: 1
     },
    title: {
      text: "TOTAL FUNDS AWARDED BY TYPE"
    },
    tooltip: {
      shadow: false,
      enabled: true,
    },
    plotOptions: {
      pie: {
        size: '100%',
        cursor: 'pointer',
        datalabels: {
          enabled: true
        },
        allowPointSelect: false
      }
    },
    series: [{
      type: 'pie',
      data: [
      {% for row in result %}
        {% if loop.last %}
          { name: '{{row["transaction_type.category_type"]}}', y: {{row["award_sum"]}}}
        {% else %}
          { name: '{{row["transaction_type.category_type"]}}', y: {{row["award_sum"]}}},
        {% endif %}
      {% endfor%}
      ]
     }]
  };

  var chart1 = new Highcharts.Chart(options);
</script>
{% endblock %}



