{% extends "template.html" %}
{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          {{chart}} <small>Overview</small>
        </h1>
      </div>
    </div>
    <!-- /.row -->

  <!-- chart1 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Place of Perfomance</h3>
        </div>
        <div class="panel-body">
          <div class=row>
            <div class="col-md-4 col-md-offset-10">
              <button id="drillUp" class="btn btn-default">Roll up</button>
            </div>
          </div>
          <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
        </div>
        <!-- /.panel-body-->
      </div>
    </div>
  </div> <!-- /.chart1-->
  -->

    <!-- chart2 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Agency Profiles</h3>
        </div>
        <div class="panel-body">
          <div class=row>
            <div class="col-md-4 col-md-offset-10">
              <button id="drillUp" class="btn btn-default">Roll up</button>
            </div>
          </div>
          <div id="chart2" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
        </div>
        <!-- /.panel-body-->
      </div>
    </div>
  </div> <!-- /.chart2-->
</div>
<!-- /.container-fluid -->
<script type=text/javascript>
  var chart1; // globally available

  Highcharts.setOptions({
      lang: {
        drillUpText: '◁ Back to ' + this.name
      }
  });

  var options = {
    chart: {
       renderTo: 'container'
     },
    credits: {
      enabled: false
    },
    rangeSelector: {
        selected: 1
     },
    title: {
      text: "Drill Down by Geography"
    },
    tooltip: {
      shadow: false,
      enabled: true,
      formatter: function(){
        return '<b>' + this.point.name + '</b>: ' + '$ ' + this.y;
      }
    },
    plotOptions: {
      pie: {
        size: '100%',
        cursor: 'pointer',
        datalabels: {
          enabled: true
        },
        allowPointSelect: false
      }
    },
    series: [{
      type: 'pie',
      point: {
          events: {
              click: function(){
                  document.location = this.url;
              },
              drillup: function(){
                  document.location = this.rollup;
              }
          }
      },
      data: [
      {% for row in result.table_rows(dimension) %}
        {% if is_last %}
           { url: "#", name: "{{row.label}}", y: {{row.record.award_sum}}, rollup: "?cut={{cell.rollup_dim(dimension,level).to_str()}}" },
        {% else %}
        { url: "?cut={{cell.drilldown(dimension, row.key)}}", name: "{{row.label}}", y: {{row.record.award_sum}}, rollup: "?cut={{cell.rollup_dim(dimension,level).to_str()}}" },
        {% endif %}
      {% endfor%}
      ]
     }]
  };

  var chart1 = new Highcharts.Chart(options);

  options.chart.renderTo = 'chart2'
  var chart2 = new Highcharts.Chart(options);

  $('#drillUp').click(function() {
    document.location = chart1.series[0].data[0].rollup;
  });
</script>
{% endblock %}
