{% extends "spending.html" %}
{% block content %}
<script type="text/javascript">
	// Initialize CubesViewer when document is ready
	$(document).ready(function() {

		cubesviewer.init({
            //cubesUrl: "{{ cubesviewer_cubes_url }}"
            cubesUrl: "{{ cubesviewer_cubes_url }}"
        });
		cubesviewer.gui.init({
            container: $('#cubesviewer').get(0),
            backendUrl: "{{ cubesviewer_backend_url }}"
        });

    var serializedView = {"cubename":"spending_2","name":"Cube spending","mode":"chart","drilldown":["date@ymd:month"],"cuts":[],"datefilters":[],"rangefilters":[],"xaxis":null,"yaxis":"award_sum","charttype":"bars-vertical","chartoptions":{"showLegend":true},"columnHide":{},"columnWidths":{},"columnSort":{}}

    view1 = cubesviewer.views.createView("olapview1", $('#cv-view1'), "cube", serializedView);

	  // Start Cubesviewer system
    cubesviewer.refresh();

    $('.cv-gui-panel').sticky({topSpacing:0});

	});

</script>

<div class="container-fluid">
  <div id="cubesviewer">

      <div class="cv-gui-panel" >
      </div>

      <div class="cv-gui-workspace">
        <div style="border: none; margin-top: 22px; margin-bottom: 22px;">
          <div id="cv-view1" class="olapview">The view should appear here...</div>
        </div>
      </div>

  </div>
</div>

{% endblock %}
