{% extends "template.html" %}
{% block content %}
<br>
<div class="btn-group">
    {% for dimension in dimensions %}
        <button class="btn btn-default">
        <a href="{{ url_for('drilldown', dim_name=dimension.name )}}">{{dimension.label or dimension.name}}</a>
        </button>
    {% endfor %}
</div>

{% if dimension %}
<h1>Dimension: {{dimension.label or dimension.name}}</h1>

<div>
    <ul class="breadcrumb">

    <!-- Link to the very top of browsed hierarchy:
    
    cell.rollup_dim(dimension, None).to_str()
    
    cell - currently browsed cell
    cell.rollup_dim(dimension, None) - get to the very top
    .to_str() - convert the cell into a string that can be used in URL
    
    see cubes.browser.cuts_to_string() fro more information about the 
    conversion
    -->

    <li><a href="?cut={{cell.rollup_dim(dimension, None).to_str()}}">All</a></li>

    {% if levels %}<span class="divider">::</span>{% endif %}

    {% for level in levels %} 
        <li>
        {% if loop.last %}
            {{level.label}}: {{details[loop.index0]._label}}
        {% else %}
        <!--
        Create a link to upper levels. The link construction is similar as
        above for the root, just `level` is passed to state concrete
        level to be rolled up to.
        -->
        <a href="?cut={{cell.rollup_dim(dimension,level).to_str()}}">
            {{level.label}}: {{details[loop.index0]._label}}
        </a>
        <span class="divider">::</span>
        {% endif %}
         </li>
    {% endfor %}
    </ul>
</div>

<!-- Display the data -->
{{ pagination.info }}
<br>
<table class="table table-striped table-bordered">
    <thead>
    <tr><th>{{next_level.label or next_level.name}}</th><th>Count</th><th>Amount</th></tr>
    </thead>
    <tbody>
    {% for row in result.table_rows(dimension) %}
    <tr>
        <td>
        {% if is_last %}
            {{row.label}}
        {% else %}
        <a href="?cut={{cell.drilldown(dimension, row.key)}}">
          {{row.label}}
        </a>
        {% endif %}
        </td>
        <td>{{row.record.transaction_count}}</td>
        <td>{{row.record.award_sum}}</td>
    </tr>
    {% endfor %}
    <tr><th>Total</th>
        <th>{{result.summary.transaction_count}}</th>
        <th>{{result.summary.award_sum}}</th></tr>
    </tbody>
</table>

{{ pagination.links }}
{% endif %} <!-- if dim -->
{% endblock %}
