{% extends "template.html" %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Spending <small>Overview</small>
        </h1>
      </div>
    </div>
    <!-- /.row -->

  <!-- Filter -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Filter</h3>
        </div>
        <div class="panel-body">
          <form role="from" action="{{ url_for('all') }}" method="post">
            <div class="row">

              <div class="col-lg-4">
                <div class="form-group">
                  <label>Fiscal Year</label>
                  <select class="form-control" name="year">
                    {% for year in years %}
                    <option>{{year}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="form-group">
                  <label>Fiscal Month</label>
                  <select class="form-control" name="month">
                    <option>View All</option>
                    {% for month in months %}
                    <option>{{month}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="form-group">
                  <label>Recipient</label>
                  <input class="form-control"></textarea>
                </div>
              </div>
            </div><!-- /.row -->

            <div class="row">

              <div class="col-lg-3">
                <div class="form-group">
                  <label>State</label>
                  <select class="form-control" name="state">
                    <option>View All</option>
                    {% for state in states %}
                    <option>{{state}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label>City</label>
                  <select class="form-control" name="city">
                    <option>View All</option>
                    {% for city in cities %}
                    <option>{{city}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                  <label>Zipcode</label>
                  <input class="form-control" name="zip"></textarea>
                  <span class="input-group-btn"><i class="fa fa-search"></i></span>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Award Type</label>
                    <div class="checkbox">

                        <label class="checkbox">
                          <input type="checkbox" checked>Contracts
                        </label>

                        <label class="checkbox">
                          <input type="checkbox" checked>Grants
                        </label>

                        <label class="checkbox">
                          <input type="checkbox" checked>Loans
                        </label>

                        <label class="checkbox">
                          <input type="checkbox" checked>Other Financial Assistance
                        </label>
                    </div> <!-- /.checkbox-->
                  </div>
                </div>
                <div class="col-lg-9">
                  <br>
                  <br>
                  <button type="submit" class="btn btn-success btn-lg btn-block" name="submit" value="go">Go!</button>
                  <button type="submit" class="btn btn-warning btn-lg btn-block" name="submit" value="reset">Reset</button>
                </div><!-- /.button-->
              </div>
            </div><!-- /.row-->

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Agency</label>
                  <select class="form-control" name="agency">
                    <option>View All</option>
                    {% for agency in agencies %}
                    <option>{{agency}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              </div><!-- /.row-->
            </div>
          </form>
        </div>
        <!-- /.panel-body-->
      </div>
    </div>
  </div> <!-- /.Filter-->
  {% block table %}
  {% endblock %}
</div>
<!-- /.container-fluid -->

{% endblock %}



