{% extends "template.html" %}
{% block content %}
<div class="container-fluid">

  <script type=text/javascript>
  $("#state").bind('select', function(){
    console.log("OK sme tu");
  });
  $("#state").bind('click', function(){
    console.log("OK sme tu");
  });
  console.log("OK");
  $( "#state" ).change(function() {
    console.log( "Handler for .select() called." );
  });

  $(function() { console.info("ok jquery loaded.") });

  $("#state").on('change', function(){
    console.info("CHODZ UZ");
  });
  </script>

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Spending <small>Overview</small>
        </h1>
      </div>
    </div>
    <!-- /.row -->

  <!-- Filter -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Filter</h3>
        </div>
        <div class="panel-body">
          <form role="from" action="{{ url_for('all') }}" method="post">
            <div class="row">

              <div class="col-lg-4">
                <div class="form-group">
                  {{ form.year.label }}
                  <div>
                    {{ form.year(class="form-control") }}
                  </div>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="form-group">
                  {{ form.month.label }}
                  <div>
                    {{ form.month(class="form-control") }}
                  </div>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="form-group">
                  <label>Recipient</label>
                  <input class="form-control"></textarea>
                </div>
              </div>
            </div><!-- /.row -->

            <div class="row">

              <div class="col-lg-3">
                <div class="form-group">
                  {{ form.state.label }}
                  <div>
                    {{ form.state(class="form-control") }}
                  </div>
                </div>
                <div class="form-group">
                  {{ form.city.label }}
                  <div>
                    {{ form.city(class="form-control") }}
                  </div>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                  <label>Zipcode</label>
                  <input class="form-control" name="zip"></textarea>
                  <span class="input-group-btn"><i class="fa fa-search"></i></span>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="col-lg-3">
                  <div class="form-group">
                    {{ form.award_type.label}}
                    {{ form.award_type(class="list-unstyled") }}
                  </div>
                </div>
                <div class="col-lg-9">
                  <br>
                  <br>
                  <button type="submit" class="btn btn-success btn-lg btn-block" name="submit" value="go">Go!</button>
                  <button type="submit" class="btn btn-warning btn-lg btn-block" name="submit" value="reset">Reset</button>
                </div><!-- /.button-->
              </div>
            </div><!-- /.row-->

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  {{ form.agency.label }}
                  <div>
                    {{ form.agency(class="form-control") }}
                  </div>
                </div>
              </div>
              </div><!-- /.row-->
            </div>
          </form>
        </div>
        <!-- /.panel-body-->
      </div>
    </div>
  </div> <!-- /.Filter-->
  {% block table %}
  {% endblock %}
</div>
<!-- /.container-fluid -->

{% endblock %}



