{% extends "charts.html" %}
{% block chart3 %}
  <!-- chart1 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">State/Territory Summaries</h3>
        </div>
        <div class="panel-body">
          <div class=row>
          <div id="container" style="min-width: 310px; height: 500px; margin: 0 auto;"></div>
        </div>
        <!-- /.panel-body-->
      </div>
    </div>
  </div> <!-- /.chart1-->

<script type=text/javascript>
  var chart1; // globally available
  var options = {
    chart: {
       renderTo: 'container',
       type: 'column'
     },
    credits: {
      enabled: false
    },
    title: {
      text: "FUNDING AWARDED BY STATE/TERRITORY"
    },
    tooltip: {
      shadow: true,
      enabled: true,
      formatter: function(){
        return '<b>' + this.point.name + '</b>: ' + '$ ' + this.y;
      }
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: ''
        }
    },
    plotOptions: {
      column: {
        cursor: 'pointer',
        datalabels: {
          enabled: true
        },
        allowPointSelect: false,
        size: '100%',
        minPointLength: 2,
        negativeColor: '#FF0000',
        maxPointWidth: 50,
        pointWidth: 10,
        pointPadding: 0
      }
    },
    series: [{
      name: 'Cities',
      data: [
      {% for row in result %}
      {% if loop.index0 < 20 %}
          { name: '{{row["geography.city"]}}', y: {{row["award_sum"]}}},
        {% else %}
        {% endif %}
      {% endfor%}
      ]
     }]
  };

  var chart1 = new Highcharts.Chart(options);
</script>
{% endblock %}


